/* common */

body {
	margin: 0px;
	font-family: georgia;
}

a {
	color: #833;
}

a:hover {
	text-shadow: 0px 0px 5px #833;
}

a.image {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

form {
	display: inline;
}

li {
	line-height: 140%;
}

td p {
	margin-bottom: 0px;
}

img {
	border: 3px solid #000;
}

footer {
	font-size: 80%;
	text-align: center;
}

footer p {
	padding-bottom: 1em;
}

#wrap {
	margin: 0px auto;
	width: 718px;
	padding: 0px 16px;
	background-image: url(../img/background.gif);
}

/* forms */

form td:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

form #ingredients td {
	text-align: left;
}

form #ingredients .notice {
	font-weight: normal;
	font-size: x-small;
}

/* nav */

#menu table {
	margin-top: 16px;
	width: 100%;
}

#menu td {
	text-align: center;
}

#menu tr:nth-child(2) td {
	text-align: right;
}

#menu input {
	vertical-align: middle;
}

#menu img {
	border: none;
}

/* sidebar */

aside {
	position: fixed;
	top: 0px;
	right: 0px;
}

aside h2 {
	font-size: medium;
	margin: 0px;
}

aside img {
	border: none;
	vertical-align: middle;
}

aside a {
	text-decoration: none;
}

aside ul, aside li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

aside button {
	padding: 1px 2px;
	font-size: x-small;
	cursor: pointer;
}

/* homepage */

#homepage h1 {
	display: none;
}

#logo {
	position: relative;
	left: -16px;
	border: none;
}

#hot-tip {
	float: right;
	margin-top: 0px;
	text-align: right;
}

#hot-tip img {
	display: block;
	margin-top: 1em;
}

/* users */

#users {
	padding-left: 0px;
}

#users li {
	list-style-type: none;
}

#users img {
	margin-right: 1em;
	margin-bottom: 5px;
}

/* list */

#types span, #ingredients span { 
	cursor: pointer;
}

/* recipe */

#recipe h2 {
	font-size: medium;
	margin: 0px;
}

#recipe #ingredients {
	float: left;
	font-size: small;
	padding-right: 2em;
}

#recipe #ingredients p {
	margin-top: 0px;
	margin-bottom: 0.5em;
}

#recipe #ingredients td {
	border-bottom: 1px solid #888;
	padding: 1px 5px;
}

#recipe #ingredients td:first-child {
	text-align: right;
}

#recipe #ingredients tr:hover td {
	background-color: #f80;
}

#recipe #ingredients a {
	color: #c00;
	text-decoration: none;
}

#recipe #ingredients a:hover {
	text-shadow: none;
}

#recipe #text p {
	margin-top: 0px;
}

#recipe #print {
	float: right;
	line-height: 16px;
}

#recipe #print img {
	border: none;
	cursor: pointer;
}

/* users */

#users img {
	vertical-align: middle;
}
