/* common */

body {
	margin: 0px;
	font-family: georgia;
}

a {
	color: #833;
}

a:hover {
	text-shadow: 0px 0px 5px #833;
}

a.image {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

form {
	display: inline;
}

li {
	line-height: 140%;
}

td p {
	margin-bottom: 0px;
}

#wrap {
	margin: 0px auto;
	width: 718px;
	padding: 0px 16px;
	background-image: url(../img/background.gif);
}

/* forms */

form td:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
}

/* nav */

nav {
	padding-top: 16px;
}

nav table {
	width: 100%;
}

nav td {
	text-align: center;
}

nav tr:nth-child(2) td {
	text-align: right;
}

footer {
	font-size: 80%;
	text-align: center;
	padding: 1em;
}

nav input {
	vertical-align: middle;
}


/* homepage */

#homepage h1 {
	display: none;
}

#logo {
	position: relative;
	left: -16px;
}

